@media only screen and (max-width: 480px) {} /* smaller than mobile */
col-1: width: 100%;
@media only screen and (max-width: 979px) {} /* smaller than tablet */ 
@media only screen and (max-width: 1200px) {} /* smaller than desk */

.#wrapper {
  width: 80%;
  margin: auto;
}

.column {
  width: 33.33%
  float: left;
  margin: 10%
}

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.columns {
  float: left;
  width: 100;
  margin: 0%;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 {width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

h1 {
  text-align: left;
  font-size: 50px;
  color: rgb(0, 0, 0);
}

ul {
  list-style-type: none;
  text-align: left;
  padding: 0;
  color: black;
}

li {
  padding-right: 20px;
  display: inline;
}

div {
  line-height: 2;
  color: rgb(0, 0, 0);
}

body {
  font-family: "Barlow", sans-serif;
  font-size: large;
  color: rgb(0, 0, 0);
  line-height: 1.5em;
  background-color: rgb(255, 255, 255);
  background-image: none;
  font-optical-sizing: auto;
  font-weight: 500;
}

img {
  col-1: width: 8.33%;
  width: 80%;
}

footer {
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: medium;
  font-weight: normal;
}

ul a:hover {
  color: rgb(46, 143, 37);
  text-decoration: underline;
  text-decoration-color: aliceblue;
}

.relative {
  position: relative;
  left: auto;
}

.footer {
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  border-image-width: 10% ;
}

.footer-left {
  flex: 1;
  width: 20%;
  display: flex;
  align-items: left;
  border-image-width: 10% ;
  flex-wrap: wrap;
}

.footer-right {
  flex: 1;
  width: 20%;
  display: flex;
  align-items: right;
  border-image-width: 10% ;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  width: 20%;
  display: flex;
  align-items: center;
  border-image-width: 10% ;
  flex-wrap: wrap;
}

div class="columns col-6"